@import 'variables/_index.scss';

.pagination__button{
  box-sizing: border-box;
  display: inline-block;
  height: 30px;
  min-width: 30px;
  padding: 0 7px;
  line-height: 28px;
  color: $color-oslo-gray;
  background-color: $color-white;
  border: 1px solid $color-heather;
  border-radius: 3px;
  appearance: none;
  text-decoration: none;
  transition: all 0.15s;
  &:hover{
    cursor: pointer;
    color: $color-dodger-blue;
    border-color: $color-dodger-blue;
  }
  &:focus{
    color: $color-black;
    background-color: $color-catskill-white;
    border-color: $color-heather;
    outline: none;
  }
  &.pagination__button--active {
    color: $color-white;
    background-color: $color-dodger-blue;
    border-color: $color-dodger-blue;
  }
  &:disabled {
    cursor: not-allowed;
    color: $color-oslo-gray;
    background-color: $color-catskill-white;
    box-shadow: none !important;
    border-color: $color-heather;
    outline: none;
    transform: none;
  }
}

.pagination__button--nav{
  color: $color-black;
}

.pagination__button--misc{
  border: none;
  &:focus{
    background-color: $color-white;
  }
}

.pagination__button__text{
  vertical-align: middle;
  font: $font-h3-r;
}