@import 'variables/_index.scss';

.dialog__wrapper + .dialog__wrapper{
  margin-top: 5px;
}

.dialog{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: block;
  overflow: hidden;
  outline: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .3s linear;
  &.dialog--information{
    .dialog__container{
      @media (min-width: 375px){
        max-width: 382px;
      }
    }
    .dialog__body{
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 24px 40px;
    }
    .dialog__title{
      margin-top: 16px;
    }
    .dialog__caption{
      margin-top: 24px;
    }
    .dialog__footer{
      justify-content: center;
    }
  }
}

.dialog__container{
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
  transition: transform .3s ease-out;
  transform: translate(0,-15%);
  @media (min-width: 375px){
    max-width: 386px;
    margin: 30px auto;
  }
}

.dialog__content{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: $color-white;
  border: 1px solid $color-heather;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

.dialog__body{
  display: flex;
  min-height: 114px;
  padding: 16px;
}

.dialog__title{
  font: $font-h2-r-b;
  color: $color-black;
  margin-top: 6px;
}

.dialog__caption{
  font: $font-h3-r;
  color: $color-oslo-gray;
  margin-top: 8px;
}

.dialog__footer{
  background-color: $color-catskill-white-2;
  padding: 14px;
  .dialog__footer__btn{
    &:not(:first-child){
      margin-left: 8px;
    }
  }
}

.dialog--show{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.5);
  opacity: 1;
  visibility: visible;
  .dialog__container{
    transform: translate(0,0);
  }
}