@import 'variables/_index.scss';

//component-type-prop-state
//Style for default
$select-default-color: $color-oslo-gray;
$select-default-bgColor: $color-white;
$select-default-font: $font-h4-r;
$select-default-height: 32px;
$select-default-border: 1px solid $color-heather;
$select-default-borderWidth: 1px;
$select-default-shadow: 0 1px 2px 0 transparentize($color-oslo-gray, .81);
$select-default-transition: .15s;

$select-default-color-hover: $color-oslo-gray;

$select-default-borderColor-active: $color-dodger-blue;
$select-default-bgColor-active: $color-catskill-white;

$select-default-outline-focus: 1px dashed $color-dodger-blue-2;
$select-default-boxShadow-focus: 0 0 0 2px rgba(65, 154, 255, 0.6);

//Style for red
$select-error-borderColor: $color-pomegranate;
$select-error-boxShadow: 0 0 0 2px rgba(240, 46, 55, 0.23);

//Style for disabled
$select-default-color-disabled: $color-oslo-gray;
$select-default-bgColor-disabled: $color-catskill-white;
$select-default-border-disabled: 1px solid $color-heather;

$select-number-font: $font-h4-m;

.select{
  width: 100%;
  height: $select-default-height;
  padding: 0 8px;
  line-height: 0;
  border-radius: 3px;
  color: $select-default-color;
  background-color: $select-default-bgColor;
  box-shadow: $select-default-shadow;
  border: $select-default-border;
  font: $select-default-font;
  appearance: none;
  transition: all $select-default-transition;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  &::placeholder{
    color: $color-oslo-gray;
  }

  &:focus{
    border-color: $select-default-borderColor-active;
    box-shadow: $select-default-boxShadow-focus;
    outline: none;
  }

  &:disabled,
  &:disabled:focus,
  &:disabled:hover,
  &:disabled:active,{
    cursor: not-allowed;
    color: $select-default-color-disabled !important;
    background-color: $select-default-bgColor-disabled !important;
    box-shadow: none !important;
    border: $select-default-border-disabled !important;
    outline: none;
    transform: none;

    &.select--icon_left{
      padding-left: 40px;
      & + .icon{
        color: $select-default-color-disabled;
      }
    }
  }

  & ~ .icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}

.select--number{
  font: $select-number-font;
  text-align: right;
  direction: rtl;
}

.select--textarea{
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 64px;
  resize: vertical;
}

.select--error{
  border-color: $color-pomegranate;
  box-shadow: $select-error-boxShadow;
}

.select--icon_left{
  padding-left: 40px;
  & + .icon{
    left: 8px;
  }
}

// Styleing for Label
$selectLabel-default-font: $font-h3-r;
$selectLabel-default-color: $color-black;

.select__wrapper{
  position: relative;
}

.select__label{
  display: inline-block;
  padding-bottom: 8px;
  font: $selectLabel-default-font;
  color: $selectLabel-default-color;
}