@import 'variables/_index.scss';

$button-distance: 20px;

.button-group{
  display: flex;
  align-items: center;
  &--left{
    justify-content: flex-start;
  }
  &--center{
    justify-content: center;
  }
  &--right{
    justify-content: flex-end;
  }
}

//component-type-prop-state
//Style for default
$button-default-color: $color-black;
$button-default-bgColor: $color-white;
$button-default-font: $font-h4-r;
$button-default-height: 32px;
$button-default-border: 1px solid $color-heather;
$button-default-borderWidth: 1px;
$button-default-boxShadow: 0 1px 2px 0 transparentize($color-oslo-gray, .81);
$button-default-transition: .15s;

$button-default-color-hover: $color-oslo-gray;

$button-default-color-active: $color-black;
$button-default-bgColor-active: $color-catskill-white;

$button-default-outline-focus: 1px dashed $color-dodger-blue-2;

//Style for primary
$button-primary-color: $color-white;
$button-primary-bgColor: $color-dodger-blue;
$button-primary-boxShadow: 0 2px 4px 0 transparentize($color-dodger-blue, .5);

$button-primary-color-hover: $color-white;
$button-primary-bgColor-hover: $color-malibu;

$button-primary-color-active: $color-white;
$button-primary-bgColor-active: $color-dodger-blue-2;

//Style for secondary
$button-secondary-color: $color-white;
$button-secondary-bgColor: $color-emerald;
$button-secondary-boxShadow: 0 2px 4px 0 transparentize($color-emerald, .46);

$button-secondary-color-hover: $color-white;
$button-secondary-bgColor-hover: $color-algae-green;

$button-secondary-color-active: $color-white;
$button-secondary-bgColor-active: $color-mountain-meadow;

//Style for red
$button-red-color: $color-white;
$button-red-bgColor: $color-coral-red;
$button-red-boxShadow: 0 2px 4px 0 transparentize($color-coral-red, .66);

$button-red-color-hover: $color-white;
$button-red-bgColor-hover: $color-geraldine;

$button-red-color-active: $color-white;
$button-red-bgColor-active: $color-torch-red;

//Style for plain
$button-plain-color: $color-dodger-blue;
$button-plain-bgColor: transparent;
$button-plain-width: auto;
$button-plain-height: auto;
$button-plain-boxShadow: none;

$button-plain-color-hover: transparentize($color-dodger-blue, .32);
$button-plain-bgColor-hover: transparent;

$button-plain-color-active: $color-black;
$button-plain-bgColor-active: transparent;

//Style for disabled
$button-default-color-disabled: $color-oslo-gray;
$button-default-bgColor-disabled: $color-catskill-white;
$button-default-borderColor-disabled: $color-heather;

.button{
  box-sizing: border-box;
  display: inline-block;
  height: $button-default-height;
  padding: 0 8px;
  line-height: $button-default-height - 2 * $button-default-borderWidth;
  // line-height: 0;
  border-radius: 3px;
  color: $button-default-color;
  background-color: $button-default-bgColor;
  box-shadow: $button-default-boxShadow;
  border: $button-default-border;
  appearance: none;
  text-decoration: none;
  transition: all $button-default-transition;

  &:hover{
    cursor: pointer;
    color: $button-default-color-hover;
  }

  &:active{
    color: $button-default-color-active;
    background-color: $button-default-bgColor-active;
  }

  &:focus{
    outline: $button-default-outline-focus;
    outline-offset: 1px;
  }

  &:disabled,
  &:disabled:focus,
  &:disabled:hover,
  &:disabled:active,{
    cursor: not-allowed;
    color: $button-default-color-disabled !important;
    background-color: $button-default-bgColor-disabled !important;
    box-shadow: none !important;
    border-color: $button-default-borderColor-disabled;
    outline: none;
    transform: none;
  }
}

.button--primary{
  background-color: $button-primary-bgColor;
  box-shadow: $button-primary-boxShadow;
  color: $button-primary-color;
  border: 1px solid transparent;

  &:hover{
    color: $button-primary-color-active;
    background-color: $button-primary-bgColor-hover;
  }

  &:active{
    color: $button-primary-color-active;
    background-color: $button-primary-bgColor-active;
  }
}

.button--secondary{
  background-color: $button-secondary-bgColor;
  box-shadow: $button-secondary-boxShadow;
  color: $button-secondary-color;
  border: 1px solid transparent;

  &:hover{
    color: $button-secondary-color-active;
    background-color: $button-secondary-bgColor-hover;
  }

  &:active{
    color: $button-secondary-color-active;
    background-color: $button-secondary-bgColor-active;
  }
}

.button--red{
  background-color: $button-red-bgColor;
  box-shadow: $button-red-boxShadow;
  color: $button-red-color;
  border: 1px solid transparent;

  &:hover{
    color: $button-red-color-active;
    background-color: $button-red-bgColor-hover;
  }

  &:active{
    color: $button-red-color-active;
    background-color: $button-red-bgColor-active;
  }
}

.button--plain{
  position: relative;
  background-color: $button-plain-bgColor;
  width: $button-plain-width;
  height: $button-plain-height;
  color: $button-plain-color;
  box-shadow: $button-plain-boxShadow;
  border: 1px solid transparent;
  padding: 0;
  line-height: 1.15;

  &:before{
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 1px;
    width: 100%;
    background: currentColor;
    transition: .2s all;
  }

  &:hover{
    color: $button-plain-color-hover;
    background-color: $button-plain-bgColor-hover;
  }

  &:active{
    color: $button-plain-color-active;
    background-color: $button-plain-bgColor-active;
    &:before{
      transform: translate(0, 2px);
      opacity: 0;
    }
  }
}

.button__text{
  vertical-align: middle;
  font: $button-default-font;
}

@keyframes rotateLoading{
  0%{
    transform: rotate(45deg)
  }

  100%{
    transform: rotate(405deg);
  }
}

.button__loading{
  // max-width: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid $color-white;
  border-top-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  transform: rotate(45deg);
  animation: rotateLoading 1.2s infinite;
  margin-right: 8px;

  .is-loading &{
    max-width: 16px;
  }
}

/*

Oval Button

*/

//component-type-prop-state
//Style for default
$obutton-default-color: $color-white;
$obutton-default-bgColor: $color-dodger-blue;
$obutton-default-font: $font-h4-r;
$obutton-default-height: 22px;
$obutton-default-border: 2px solid transparent;
$obutton-default-borderWidth: 2px;
$obutton-default-borderRadius: 25px;
$obutton-default-transition: .15s;

$obutton-default-bgColor-hover: $color-malibu;

$obutton-default-bgColor-active: $color-dodger-blue-2;

$obutton-default-outline-focus: 1px dashed $color-dodger-blue-2;

//Style for red
$obutton-outline-color: $color-coral-red;
$obutton-outline-borderColor: $color-coral-red;
$obutton-outline-bgColor: transparent;

$obutton-outline-color-hover: $color-white;
$obutton-outline-bgColor-hover: $color-geraldine;
$obutton-outline-borderColor-hover: $color-geraldine;

$obutton-outline-color-active: $color-white;
$obutton-outline-bgColor-active: $color-torch-red;
$obutton-outline-borderColor-active: $color-torch-red;

//Style for disabled
$obutton-default-color-disabled: $color-oslo-gray;
$obutton-default-bgColor-disabled: $color-catskill-white;
$obutton-default-border-disabled: 1px solid $color-heather;

.obutton{
  height: $obutton-default-height;
  padding: 0 8px;
  line-height: 0;
  border-radius: $obutton-default-borderRadius;
  color: $obutton-default-color;
  background-color: $obutton-default-bgColor;
  border: $obutton-default-border;
  appearance: none;
  transition: all $obutton-default-transition;
  outline-offset: 1px;

  &:hover{
    cursor: pointer;
    background-color: $obutton-default-bgColor-hover;
  }

  &:active{
    background-color: $obutton-default-bgColor-active;
  }

  &:focus{
    outline: $obutton-default-outline-focus;
  }

  &:disabled,
  &:disabled:focus,
  &:disabled:hover,
  &:disabled:active,{
    cursor: not-allowed;
    color: $obutton-default-color-disabled !important;
    background-color: $obutton-default-bgColor-disabled !important;
    box-shadow: none !important;
    border-color: $obutton-default-border-disabled !important;
    outline: none;
    transform: none;
  }
}

.obutton--outline{
  border-color: $obutton-outline-borderColor;
  background-color: $obutton-outline-bgColor;
  color: $obutton-outline-color;

  &:hover{
    color: $obutton-outline-color-hover;
    background-color: $obutton-outline-bgColor-hover;
    border-color: $obutton-outline-borderColor-hover;
  }

  &:active{
    color: $obutton-outline-color-active;
    background-color: $obutton-outline-bgColor-active;
    border-color: $obutton-outline-borderColor-active;
  }
}

.obutton__text{
  vertical-align: middle;
  font: $obutton-default-font;
}


/*

Round Button

*/

//component-type-prop-state
//Style for default
$rbutton-default-color: $color-dodger-blue;
$rbutton-default-bgColor: transparent;
$rbutton-default-width: 43px;
$rbutton-default-height: 43px;
$rbutton-default-border: 1px solid $color-catskill-white;
$rbutton-default-borderRadius: 50%;
$rbutton-default-transition: .15s;

$rbutton-default-bgColor-hover: $color-catskill-white-2;

$rbutton-default-color-active: $color-midnight;
$rbutton-default-bgColor-active: $color-catskill-white-2;
$rbutton-default-borderColor-active: $color-catskill-white-2;

$rbutton-default-outline-focus: 1px dashed $color-dodger-blue-2;

//Style for disabled
$rbutton-default-color-disabled: $color-oslo-gray;
$rbutton-default-bgColor-disabled: $color-catskill-white;
$rbutton-default-border-disabled: 1px solid $color-heather;

.rbutton{
  box-sizing: border-box;
  display: inline-block;
  width: $rbutton-default-width;
  height: $rbutton-default-height;
  padding: 0 8px;
  line-height: $rbutton-default-height - 2 * 1;
  border-radius: $rbutton-default-borderRadius;
  color: $rbutton-default-color;
  background-color: $rbutton-default-bgColor;
  border: $rbutton-default-border;
  appearance: none;
  transition: all $rbutton-default-transition;
  outline-offset: 1px;
  text-align: center;

  &:hover{
    cursor: pointer;
    background-color: $rbutton-default-bgColor-hover;
  }

  &:active{
    color: $rbutton-default-color-active;
    border-color: $rbutton-default-borderColor-active;
    background-color: $rbutton-default-bgColor-active;
  }

  &:focus{
    outline: $rbutton-default-outline-focus;
  }

  &:disabled,
  &:disabled:focus,
  &:disabled:hover,
  &:disabled:active,{
    cursor: not-allowed;
    color: $rbutton-default-color-disabled !important;
    background-color: $rbutton-default-bgColor-disabled !important;
    box-shadow: none !important;
    border: $rbutton-default-border-disabled !important;
    outline: none;
    transform: none;
  }
}

/*

Split Button

*/

.sbutton{
  box-sizing: border-box;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
}

.sbutton__arrow{
  position: relative;
  box-sizing: border-box;
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; 
  padding: 0 7px;

  &:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #000;
    opacity: 0.1;
  }
}

.sbutton__dropdownc{
  display: inline-block;
  position: relative;
}

.sbutton__dropdown{
  position: absolute;
  transform: translate(0, 3px);
  top: 100%;
  right: 0;
  border-radius: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border: solid 1px #b8c1cc;
  opacity: 0;
  transition: all 0.15s;
  pointer-events: none;
}

.sbutton__dropdown--in{
  transform: translate(0, 5px);
  opacity: 1;
  pointer-events: all;
}

.sbutton__doverlay{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.sbutton__doverlay--in{
  pointer-events: all;
}

/*

Button Dropdown

*/

$dbutton-default-color: $color-black;
$dbutton-default-bgColor: transparent;
$dbutton-default-transition: .15s;

$dbutton-default-bgColor-hover: $color-hawkes-blue;

$dbutton-default-bgColor-active: $color-hawkes-blue;

$dbutton-default-outline-focus: 1px dashed $color-dodger-blue-2;

.dbutton{
  display: block;
  appearance: none;
  min-width: 120px;
  padding: 7px;
  border: 0;
  border-radius: 0;
  text-align: left;
  font: $font-h4-r;
  color: $dbutton-default-color;
  text-decoration: none;
  transition: $dbutton-default-transition;

  &:first-child{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  &:last-child{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  &:hover{
    cursor: pointer;
    background-color: $dbutton-default-bgColor-hover;
  }

  &:active{
    background-color: $dbutton-default-bgColor-active;
  }

  &:focus{
    outline: $dbutton-default-outline-focus;
    outline-offset: 1px;
  }
}