.button-group {
  display: flex;
  align-items: center; }
  .button-group--left {
    justify-content: flex-start; }
  .button-group--center {
    justify-content: center; }
  .button-group--right {
    justify-content: flex-end; }

.button {
  box-sizing: border-box;
  display: inline-block;
  height: 32px;
  padding: 0 8px;
  line-height: 30px;
  border-radius: 3px;
  color: #000;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(213, 213, 213, 0.19);
  border: 1px solid #f5f5f5;
  appearance: none;
  text-decoration: none;
  transition: all 0.15s; }
  .button:hover {
    cursor: pointer;
    color: #d5d5d5; }
  .button:active {
    color: #000;
    background-color: #fff; }
  .button:focus {
    outline: 1px dashed blue;
    outline-offset: 1px; }
  .button:disabled, .button:disabled:focus, .button:disabled:hover, .button:disabled:active {
    cursor: not-allowed;
    color: #d5d5d5 !important;
    background-color: #fff !important;
    box-shadow: none !important;
    border-color: #f5f5f5;
    outline: none;
    transform: none; }
