$color-dodger-blue-2: #2088ff;
$color-dodger-blue: #419aff;
$color-malibu: #7ab8ff;
$color-hawkes-blue: #e3f3fd;
$color-emerald: #4ddb7c;
$color-mountain-meadow:#27c95d;
$color-algae-green: #82e6a3;
$color-dark-opacity: rgba(0, 0, 0, 0.3);
$color-midnight: #012040;
$color-big-stone: #192b46;
$color-dark-ebony-clay: #242b33;
$color-heather: #b8c1cc;
$color-gray: #eeeeee;
$color-catskill-white: #e6ecf2;
$color-catskill-white-2: #f5f7fa;
$color-white: #ffffff;
$color-coral-red: #ff414a;
$color-geraldine: #ff7a80;
$color-torch-red: #f40e19;
$color-pomegranate: #F02E37;
$color-ripe-lemon: #f8e71c;
$color-black: #000000;
$color-oslo-gray: #7e8893;