@import "../../scss/variables/fonts";

.SelectDate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  select {
    width: 100%;
    display: block;
  }

  & > div:nth-child(2) {
    width: 35%;
  }

  & > div:nth-child(1),
  & > div:nth-child(3) {
    width: 25%;
  }

  @media (max-width: 481px) {
    div:nth-child(2) {
      width: 37%;
    }

    div:nth-child(1),
    div:nth-child(3) {
      width: 28%;
    }
  }

  &.noDate {
    justify-content: center;
    & > div {
      width: 45%;
      margin: 0 auto;
    }
  }
}
