@import "../../scss/variables/index";

.nav {
    width: 100%;
    height: 48px;
    background: #fff;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.nav__logo {
    @include font($font-montserrat, 14px, #2F2F2F, 500, normal, 0.03em);
    padding-left: 16px;
}

.nav__burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    background: none;
    padding-right: 19.6px;

    @include response(laptop-sm) {
        display: none;
        appearance: none;
        -webkit-appearance: none;
        background: none;
        border: none;
        outline: none;
    }
}

.nav__burger .stripe {
    margin: 2px 0;
    background: #131415;
    height: 3px;
    // width: 100%;
    width: 20px;
    transition: 0.15s ease-in-out;
    border-radius: 25px;

    &:nth-child(3) {
      width: 14px;
      margin: 2px 0 0;
    }
}

.nav__burger.open .stripe {
    margin: 0 auto;
    width: 20px;
  
    &:nth-child(1) {
      transform: rotate(45deg) translate(0%, 65%);
    }
    &:nth-child(2) {
      transform: rotate(-45deg) translate(0%, -65%);
    }
    &:nth-child(3) {
      display: none;
    }
}