@import 'variables/_index.scss';

//component-type-prop-state
//Style for default
$label-default-font: $font-h3-r;
$input-default-color: $color-oslo-gray;
$input-default-bgColor: $color-white;
$input-default-font: $font-h4-r;
$input-default-height: 32px;
$input-default-border: 1px solid $color-heather;
$input-default-borderWidth: 1px;
$input-default-shadow: 0 1px 2px 0 transparentize($color-oslo-gray, .81);
$input-default-transition: .15s;

$input-default-color-hover: $color-oslo-gray;

$input-default-borderColor-active: $color-dodger-blue;
$input-default-bgColor-active: $color-catskill-white;

$input-default-outline-focus: 1px dashed $color-dodger-blue-2;
$input-default-boxShadow-focus: 0 0 0 2px rgba(65, 154, 255, 0.6);

//Style for red
$input-error-borderColor: $color-pomegranate;
$input-error-boxShadow: 0 0 0 2px rgba(240, 46, 55, 0.23);

//Style for disabled
$input-default-color-disabled: $color-oslo-gray;
$input-default-bgColor-disabled: $color-catskill-white;
$input-default-border-disabled: 1px solid $color-heather;

$input-number-font: $font-h4-m;

.input,
.input--datepicker input{
  width: 100%;
  height: $input-default-height;
  padding: 0 8px;
  line-height: 0;
  border-radius: 3px;
  color: $input-default-color;
  background-color: $input-default-bgColor;
  box-shadow: $input-default-shadow;
  border: $input-default-border;
  font: $input-default-font;
  appearance: none;
  transition: all $input-default-transition;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  &::placeholder{
    color: $color-oslo-gray;
  }

  &:focus{
    border-color: $input-default-borderColor-active;
    box-shadow: $input-default-boxShadow-focus;
    outline: none;
  }

  &:disabled,
  &:disabled:focus,
  &:disabled:hover,
  &:disabled:active,{
    cursor: not-allowed;
    color: $input-default-color-disabled !important;
    background-color: $input-default-bgColor-disabled !important;
    box-shadow: none !important;
    border: $input-default-border-disabled !important;
    outline: none;
    transform: none;
  }
}

.input--number{
  font: $input-number-font;
  text-align: right;
  direction: rtl;
}

.input--textarea{
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 64px;
  resize: vertical;
}

.input--error{
  border-color: $color-pomegranate;
  box-shadow: $input-error-boxShadow;
}

.input--icon_left{
  padding-left: 40px;
  & + .icon{
    color: $color-oslo-gray;
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0, -50%);
  }
}

.input--icon_right,
.input--datepicker input{
  padding-right: 40px;
  & + .icon{
    color: $color-dodger-blue;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);
  }
}

.input--datepicker {
  & + .icon{
    color: $color-dodger-blue;
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(0, -50%);
  }
}

// Styleing for Label
$inputLabel-default-font: $font-h4-r;
$inputLabel-default-color: $color-black;

.input__wrapper{
  position: relative;
}

.input__label{
  display: inline-block;
  padding-bottom: 8px;
  font: $label-default-font;
  color: $inputLabel-default-color;
}