.page {
  transition: 0.3s ease-in-out;
}

.wrapper {
  transition: 0.3s ease-in-out;
  background: #fff;
  transition: 0.3s ease-in-out;
}

.content__outer {
  width: 100%;
  transition: 0.3s ease-in-out;
}

.content__inner {
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}

.wrapper.squared {
  background: maroon;

  .content__outer {
    padding: 40px;
    margin: 0 auto;
    border-radius: 6px;
  }

  .content__inner {
    background: #fff;
  }
}
