.Loading {
  position: relative;
  margin: 8px auto;
  width: 30px;
  height: 30px;
}

.Loading.left {
  margin-left: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Loading .inner {
  border: 3px solid red;
  border-bottom-color: transparent;
  border-radius: 100%;
  animation: rotate 1s linear infinite;
  width: 100%;
  height: 100%;
}
