.icon {
  box-sizing: border-box;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  line-height: 0; }

.icon--s {
  width: 16px;
  height: 16px;
  font-size: 16px; }

.icon--m {
  width: 24px;
  height: 24px;
  font-size: 24px; }

.icon--l {
  width: 32px;
  height: 32px;
  font-size: 32px; }

.icon--mr {
  margin-right: 8px; }

.icon--ml {
  margin-left: 8px; }

.icon--not-found {
  position: relative;
  border: 1px dashed #f00;
  border-radius: 50%;
  animation: blinking .5s linear .2s infinite alternate; }
  .icon--not-found:before {
    content: "";
    display: block;
    width: 80%;
    height: 10%;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #f00;
    transform: translate(-50%, -50%); }

@keyframes blinking {
  from {
    opacity: 1; }
  to {
    opacity: .2; } }
