$primary-foreground-color: #fff; // #fff default

$primary-background-color: #000000; // #2B333F default

$center-big-play-button: true; // true default

.video-js {
  font-size: 13px;
  color: $primary-foreground-color;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.video-js .vjs-marlboro-skin {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}

.vjs-marlboro-skin .vjs-big-play-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background: #d7182a !important;
  border: none !important;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 70px rgba(0, 0, 0, 0.7);

  @media (max-width: 768px) {
    width: 65px;
    height: 65px;
  }
}

.vjs-marlboro-skin .vjs-big-play-button .vjs-icon-placeholder:before {
  color: #fff;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
//  .vjs-play-control :before, .video-js .vjs-big-play-button .vjs-icon-placeholder:before

.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  /* IE8 - has no alpha support */
  background-color: $primary-background-color;
  /* Opacity: 1.0 = 100%, 0.0 = 0% */
  background-color: rgba($primary-background-color, 0.9);
}

// Make a slightly lighter version of the main background
// for the slider background.
$slider-bg-color: lighten($primary-background-color, 90%);
/* Slider - used for Volume bar and Progress bar */
.video-js .vjs-slider {
  display: none;
  background-color: $slider-bg-color;
  background-color: rgba($slider-bg-color, 0.9);
}

.video-js .vjs-volume-level,
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: $primary-foreground-color;
}

/* The main progress bar also has a bar that shows how much has been loaded. */
.video-js .vjs-load-progress {
  display: none;
  /* For IE8 we'll lighten the color */
  background: ligthen($slider-bg-color, 80%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.8);
}

/* The load progress bar also has internal divs that represent
   smaller disconnected loaded time ranges */
.video-js .vjs-load-progress div {
  /* For IE8 we'll lighten the color */
  background: ligthen($slider-bg-color, 80%);
  /* Otherwise we'll rely on stacked opacities */
  background: rgba($slider-bg-color, 0.9);
}

.video-js .vjs-progress-control.vjs-control {
  pointer-events: none;
}

.video-js.vjs-marlboro-skin .vjs-remaining-time.vjs-time-control.vjs-control {
  // border-radius: 8px;
  background: #af0819;
  color: #fff;
  letter-spacing: 1px;

  * {
    font-family: "NeulandGrotesk" !important;
  }
}

.video-js.vjs-marlboro-skin
  .vjs-picture-in-picture-control.vjs-control.vjs-button {
  display: none;
}

// .video-js:hover .vjs-big-play-button {
//   background-color: rgba(0, 0, 0, 0.95);
//   border-color: #647733;
// }
