@import "~normalize.css/normalize";
@import "./variables/fonts";

* {
  box-sizing: border-box;
}

.none {
  display: none;
}

body {
  font-family: $font-montserrat;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  appearance: none;
  -webkit-appearance: none;
}

.G__content {
  max-width: 1200px;
  margin: 0 auto;
}

.G__content.full {
  max-width: 100%;
}
