@import "~normalize.css/normalize";
@import "./variables/colors";
@import "./variables/fonts";
@import "./variables/index";
@import "./variables/transition";
@import "./variables/zindex";

* {
  box-sizing: border-box;
}

.none {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
