@import 'variables/_index.scss';

//component-type-prop-state
//Style for success
$message-success-bgColor: #e6fff9;
$message-success-borderColor: $color-emerald;

//Style for info
$message-info-bgColor: #dcecff;
$message-info-borderColor: $color-dodger-blue;

//Style for error
$message-error-bgColor: #ffe3e3;
$message-error-borderColor: #ff7a7a;

.message__wrapper + .message__wrapper{
  margin-top: 5px;
}

.message{
  display: inline-flex;
  min-width: 217px;
  padding: 7px 8px;
  line-height: 0;
  border: 1px solid;
  border-radius: 3px;
  color: $color-black;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.message--success{
  background-color: $message-success-bgColor;
  border-color: $message-success-borderColor;
  .icon{
    color: $color-algae-green;
  }
  .message__content--caption{
    color: $color-emerald;
  }
}

.message--info{
  background-color: $message-info-bgColor;
  border-color: $message-info-borderColor;
  .icon{
    color: $color-dodger-blue;
  }
  .message__content--caption{
    color: $color-dodger-blue;
  }
}

.message--error{
  background-color: $message-error-bgColor;
  border-color: $message-error-borderColor;
  .icon{
    color: $color-coral-red;
  }
  .message__content--caption{
    color: $color-coral-red;
  }
}

.message__content{
  display: flex;
  flex: 1;
  font: $font-h4-r;
  margin-top: 5px;
  &--title{

  }
  &--caption{
    flex: 1;
    margin-left: 5px;
  }
}

.message__close{
  color: #7e8893;
  cursor: pointer;
}

.message--show{
  opacity: 1;
  visibility: visible;
}