// $font-face-serif: Cambria, Georgia, serif;
// $font-face-sans-serif: Cambria, Georgia, serif;
// $font-face-mono: Andale Mono, AndaleMono, monospace;

// $font-root: 14px;
// $font-size-xs: (12 / 14) * $font-root;
// $font-size-s: $font-root;
// $font-size-m: (16 / 14) * $font-root;
// $font-size-l: (20 / 14) * $font-root;

$font-barlow: "Barlow", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-black: 900;
$font-extra-bold: 800;
$font-bold: 700;
$font-semi-bold: 600;
$font-medium: 500;
$font-regular: 400;
